
    <div class="cli_sectionborder" >
        <table class = "parent" frame="BOX">
            <tr class = "catagory">
                <th>Date<br>(DD/MM/YYYY)</th>
                <th>Clinican Notes</th>
            </tr>
            {{#each patient_data}}
            <tr>
            <td>{{this.name}}</td>
            </tr>
            {{/each}}  
       
        
        </table>
    </div> 
        
           