<div class = "clinician_header">
    <h1>Relevant Articles</h1>
  </div>
  <div class = "news">
    <table>
      <tr>
        <td>
            <a href ="https://www.thelancet.com/journals/landia/issue/vol10no5/PIIS2213-8587(22)X0005-3"
            target="_blank">
          <img class = "image" src = "/news1.jpg" >
          
        </td>
        <td>

      <h1>May 2022<br>
          Volume 10Number 5p297-372<br>
          Cover image by Ollie Hirst</h1><br>
        </td>
      </tr>
      <tr>
        <td>
            <a href ="https://www.thelancet.com/action/showPdf?pii=S2213-8587%2822%2900111-5"
            target="_blank">
        <img class = "image" src = "/article1.png" >
        </a>
        </td>
        <td>
          <h2>
            
            Long COVID: the elephant in the room
            </a>
          </h2>
          On April 1, 2022, the UK government ended free universal COVID-19 testing, as part of the Living with COVID-19 plan. The legal requirement to isolate if positive has also been scrapped in England under this plan, and all other public health restrictions have now been removed.
        </td>
      </tr>
      <tr>
        <td>
            <a href ="https://www.thelancet.com/action/showPdf?pii=S2213-8587%2822%2900078-X"
            target="_blank">
          <img class = "image" src = "/article2.png" >
          </a>
        </td>
        <td>
          <h2>
            Rising diabetes diagnosis in long COVID
          </h2>
          A few reports have raised the possibility that COVID-19 could increase the risk of type 2 diabetes.1,  2 In The Lancet Diabetes & Endocrinology, Xie and Al-Aly3 offer further evidence for the increased risk of diabetes beyond the first 30 days of infection (post-acute phase) by analysing the US Department of Veterans Affairs national health-care records of those who survived the first 30 days after a positive COVID-19 test. 
        </td>
      </tr>

    </table>
  </div>