<div class="cli_table">
  <table class="support_table">
    <tr class="catagory">
      <th calss="th1">Patient name</th>
      <th class="th2">Support Message</th>
    </tr>

    <div class="message">
      {{#each patient_message}}
        <form action="" method="POST">
          <tr>
            <td>{{this.name}}</td>
            <td>
              {{#if patient_message}}
                <td>{{this.message}}</td>
              {{else}}
                <input hidden="true" name="id" id="id" value={{this.id}} />
                <input
                  placeholder="Enter support message"
                  name="message"
                  id="support_msg"
                />
              {{/if}}
              {{#unless patient_message}}
                <button type="submit"> submit </button>
              {{/unless}}
            </td>
          </tr>
        </form>
      {{/each}}
    </div>

  </table>
</div>