 header{
    background-color:  #E1F0DB;
    text-align: center;
    width: 100%;
}

.article {
    color:rgb(70, 70, 70);
    text-align: justify;
}
.sidenav {
    background-color: #CFE6BD;
    font-size: 15px;
    display: block;
    float:left;
    height: 100%;
}
.sidenav a:hover {
    background: white;
  }
.sidenav a {
    padding: 20px 20px 20px 20px;
    font-size: 20px;
    text-decoration: none;
    color: #818181;
    display: block;
  }
  
.links {
    background-color: #E1F0DB;
    text-align: left;
}
.links h3 {
    text-align: center;
  }
.links a{
    color: #818181;
}

footer {
    background: #E1F0DB;
    text-align: center;
}

footer a{
    padding: 22px 22px 22px 22px;
    text-decoration: none;
    text-align: center;
    background: #E1F0DB;
    color:rgb(70, 70, 70);
    line-height:63px;
}
footer a:hover {
    background: #8fbc88;
  }

aside {
    margin-left: 5%;
    margin-right: 5%;
}
.greeting {
    
    font-size: 250%;
    color: rgb(70, 70, 70);
}

.date {
    font-size: 100%;
    color: rgb(70, 70, 70);
}

main {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%
}


.sectionborder{
    color:rgb(70, 70, 70);
    border-color: #E1F0DB; 
    border-width: 5px;
    border-spacing: 10px;
    border-style: solid;  
}
.view {
    text-align: center;
    padding: 5px 5px 5 px 5px;
    background-color: rgba(229, 229, 229, 0.5);
}

.button {
    border: none;
    color: rgb(70, 70, 70);
    padding: 15px 12px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: rgba(229, 229, 229, 0.5);
    border-radius: 25px;
  }
.viewbutton {
    position: relative;
    left: 45%;
}

table, th, td {
    padding: 10px;
}
