html {
  font-family: "Roboto", serif;
  font-size: 3vh;
}

.header {
  position: fixed;
  background: #e1f0db;
  width: 100%;
  height: 8%;
  left: 0%;
  top: 0%;
  z-index: 1;
  overflow: hidden;
}

.header p {
  text-align: center;
  font-size: 3.5vh;
  font-weight: 700;
  line-height: 5%;
  color: rgba(0, 0, 0, 0.7);
}

.homepage {
  position: fixed;
  background: #8fbc88;
  border-radius: 50px;
  width: 10%;
  height: 5%;
  left: 88%;
  top: 1.5%;
  z-index: 1;
}

.homepage p {
  text-align: center;
  line-height: 5%;
}

.homepage a {
  text-decoration: none;
}

.homepage a:hover {
  background: #e1f0db;
}

.sidenav {
  position: fixed;
  background: #cfe6bd;
  width: 15%;
  height: 100%;
  left: 0%;
  top: 8%;
}

.sidenav p {
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  margin: 80px 0px;
}

.sidenav a {
  text-decoration: none;
}

.sidenav a:hover {
  background: #e1f0db;
}

.article {
  position: absolute;
  width: 40%;
  height: 80%;
  left: 20%;
  top: 8%;
  text-align: justify;
  line-height: 24px;
}

.video {
  position: fixed;
  width: 33%;
  height: 35%;
  left: 65%;
  top: 10%;
}

.links {
  position: fixed;
  background: #e1f0db;
  overflow: scroll;
  width: 33%;
  height: 40%;
  left: 65%;
  top: 55%;
}

.links h3 {
  text-align: center;
}

.links li {
  list-style-type: none;
}

.links a {
  text-decoration: none;
}

@media screen and (max-width: 640px) {
  /* page layout for phones */

  .sidenav {
    width: 20%;
  }

  .links,
  .video {
    display: None;
  }

  .article {
    left: 25%;
    width: 70%;
  }
}
