html{
    position: relative;
    font-family: "Roboto", sans-sarif;
}
aside {

    grid-area: "aside";
    position: flex;
    width: 15%;
    height: 1020px;
    left: 0pm;
    top: 8%;
    
  }

  article {
  
    position: absolute;
    width: 50%;
    height: 80%;
    margin-left:5%;
    left: 15%;
    top: 8%;
    display: inline-block;
    font-family: "Roboto", sans-sarif;
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 28px;
    text-align: justify;
  }

  header {

    position: absolute;
    width: 130%;
    height: 8%;
    left: 0%;
    top: 0%;
    background: #e1f0db;
  }

  nav {

    position:absolute;
    display: flex;
    flex-direction: row;
    padding: 0px;
    position: absolute;
    width: 15%;
    height: 100%;
    left: 0%;
    text-align: right;
    background: #cfe6bd;
    
  }
  ul{
    position:absolute;
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    list-style-type: none;
    justify-content: center;
    width: 15%;
    left: 2%;
    top: 10%;
    height: 70%;
    grid-gap: 15%;
    font-family: "Roboto", sans-sarif;

  }


  ul.list{
    position: absolute;
    grid-area: auto;
    justify-items: center;
    order: 1;
    flex-grow: 0;
    margin: 75px 0px;
  }
  li{
    
    font-style: normal;
    font-weight: 200;
    font-size: 1.5em;
    line-height: 42px;
    color: rgba(0, 0, 0, 0.5);
  }

  #title {
    position: absolute;
    width: 20%;
    height: 0%;
    left: 40%;
    top: -20%;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5em;
    color: rgba(0, 0, 0, 0.7);
  }

  #homeButton{
    position:relative;
    left: 91.15%;
    right: 0.83%;
    top: 0.83%;
    bottom: 95.19%;
    height: 150px;
    background-color: #8fbc88;
    border-radius: 50px;
    width: 98px;
    justify-content: center;
    height: 23px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 1em;
    
    padding-block: 10px;
    line-height: 23px;
    color: rgba(0, 0, 0, 0.5);
    

  }
