header{
    background-color:  #E1F0DB;
    text-align: center;
    width: 100%;
}

.article {
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
}
.sidenav {
    background-color: #CFE6BD;
    display: block;
    float:left;
    height: 100%;
}
.sidenav a:hover {
    background: white;
  }
.sidenav a {
    padding: 20px 20px 20px 20px;
    font-size: 20px;
    text-decoration: none;
    color: #818181;
    display: block;
  }
  
.links {
    background-color: #E1F0DB;
    text-align: left;
}
.links h3 {
    text-align: center;
  }
.links a{
    color: #818181;
}

.homepage a{
    padding: 20px 20px 20px 20px;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    background: #8fbc88;
    color: rgb(70, 70, 70);
    display: block;
}
.homepage a:hover {
    background: #CFE6BD;
  }