body > * {  /* this is just shading to show the different regions */
    font-family: "Roboto", sans-serif;
}

body { /* page layout - desktop version */
    display: grid;
    grid-template-columns: 5fr 20fr 10fr;
    grid-template-rows: auto auto;
    grid-gap:0;
    margin:0;

    grid-template-areas: 
        "header header header"
        "nav main aside"
        "footer footer footer";
    }

/* assign regions of the page to the grid */
header {grid-area: header;}
aside {grid-area: aside;}
main {grid-area: main;}
nav {grid-area: nav;}
footer{grid-area: footer;}

nav {
    position:absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 20%;
 
    left: 0%;
    top:8%;
    background: #CFE6BD;
    
    
}

  
li {
    position: flex;
    width: 15%;
    left: 5%;
  
    font-style: normal;
    text-align: center;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.5);
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 75px 0px;
}
header{
    position: absolute;
    width: 120%;
    height: 8%;
    left: 0%;
    top: 0%;
    background: #e1f0db;

}

.greeting{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 65%;
    height: 17%;
    left: 25%;
    top: 10%;
    display: inline;
    
}
h1{
    font-size:4em;
    position: static;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
    text-align: left;
    line-height: 10%;

}

h2{
    position: static;
   font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 2em;
    color: rgba(0, 0, 0, 0.6);
   
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 28px 0px;
    line-height: 5%;
}

table{
    position: absolute;
    table-layout:auto;
    width: 80%;
    height: 100%;
    left: 25%;
    top: 40%;
    background-color:#E1F0DB;
    border-top: 20em;
    border-right: 20em;
    border-bottom: 20em;
    border-left: 20em;
    border-color: white;
    border-spacing: white 10px;
    border-collapse:collapse
    
    
}
tr{
    border:3px solid white;
}
td{
    border:  3px solid white;
    text-align: center;
   
}
.menu{
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
    height: 100%;
    top:5%;
    width: 25%;
    left:0%;
    column-gap: 4em;
}

.menu>.elem{
    grid-area: auto;
}
button{
 
        position: relative;
        top:0%;
        height: 90%;
        width: 100px;
        grid-area: "button";
        background: #8fbc88;
        justify-content: center;
        border-radius: 20vw;
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-size: 2vh;
        line-height: 5%;
      

}
