<!DOCTYPE html>
  <html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="/about.css">
        <META http-equiv="Content-Style-Type" content="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>clinician dashboard</title>
        
    </head>
    <body>
    <header>
        <div class = "menu">
            <button class = "elem"><a href="Deliverable1/aboutdiabetes.html">About diabetes</a></button>
            <button class = "elem"><a href="Deliverable1/aboutthiswebsite.html">About this website</a></button>
            <button class = "elem"><a href="Login/login.html">log out</a></button>
        </div>
        
    </header>
    <nav>
        <div class="cli_sidenav">
            <p>
                <img src="/page-logo.png">
            </p>
            <p class="cli_active">
              <a href="clinician_dashboard.html">Dashboard</a>
            </p>
            <p>
              <a href="clinician_patientdata.html">Patient's Data</a>
            </p>
            <p>
              <a href="clinician_patientcomment.html">Patient's Comments</a>
            </p>
            <p>
              <a href="clinician_clinicalnotes.html">Clinical Notes</a>
            </p>
            <p>
              <a href="clinician_message.html">Messages</a>
            </p>
          </div>
        </nav>

    <main>
    <div class = "cli_greeting">
        <h1>Hi Dr {{this.name}}!</h1>
        <h2>Today: {{view_date}}</h2>
    </div>

    {{>patient}}
      
    </main>
    </body>
    <footer>
      <p>Copyright 2022 by Diabetes@Home. All Rights Reserved.</p>
    </footer>
</html>

