<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/about.css">
    <title>clinician messages</title>
</head>
<body>
    <header>
        <div class = "menu">
            <button class = "elem"><a href="/Deliverable1/aboutdiabetes.html">About diabetes</a></button>
            <button class = "elem"><a href="/Deliverable1/aboutthiswebsite.html">About this website</a></button>
            <button class = "elem"><a href="/Login/login.html">log out</a></button>
        </div>
        
    </header>
    <nav>
        <div class="cli_sidenav">
            <p>
                <img src="/page-logo.png">
            </p>
            <p>
              <a href="new_clinician_dashboard.html">Dashboard</a>
            </p>
            <p>
              <a href="new_clinician_patientdata.html">Patient's Data</a>
            </p>
            <p>
              <a href="new_clinician_patientcomment.html">Patient's Comments</a>
            </p>
            <p>
              <a href="new_clinician_clinicalnotes.html">Clinical Notes</a>
            </p>
            <p class = "cli_active">
              <a href="new_clinician_message.html">Messages</a>
            </p>
          </div>
        </nav>

    <main>
    <div class = "cli_greeting">
        <h1>Today's Support</h1>
        <h2>Today: {{view_date}}</h2>
    </div>
    {{! this refers to the partial hbs name}}
    {{>patient_messages}}
    </main>
</body>
<footer>
    <p>Copyright 2022 by Diabetes@Home. All Rights Reserved.</p>
  </footer>
</html>