<!DOCTYPE html>
  <html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="clinician_template.css" />
        <META http-equiv="Content-Style-Type" content="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>main</title>
         
    </head>
    <body>
        hello word
    </body>
</html>