<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/login.css" />
    <title>LOGIN</title>
  </head>

  <body>
    

    <div class="logo">
      <svg
        class="HouseIcon"
        style="
    position: absolute;
    width: 3em;
    height: 3rem;
    left: 2%;
    top: 0.5rem;
    max-width: 40%;
    "
        width="213"
        height="155"
        viewBox="0 0 213 155"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect
          width="137.757"
          height="17.0959"
          transform="translate(0 86.7266) rotate(-39.0178)"
          fill="#E1F0DB"
        ></rect>
        <rect
          width="87.0999"
          height="17.5959"
          transform="translate(34.3121 154.713) rotate(-90)"
          fill="#E1F0DB"
        ></rect>
        <rect
          width="87.0999"
          height="17.5959"
          transform="translate(167.161 154.713) rotate(-90)"
          fill="#E1F0DB"
        ></rect>
        <rect
          width="137.757"
          height="17.0959"
          transform="translate(106.73) rotate(40)"
          fill="#E1F0DB"
        ></rect>
        <rect
          width="69.504"
          height="14.0768"
          transform="translate(71.2635 95.7671)"
          fill="#E1F0DB"
        ></rect>
        <rect
          width="70.3838"
          height="13.197"
          transform="translate(99.4171 137.998) rotate(-90)"
          fill="#E1F0DB"
        ></rect>
      </svg>
    <div class = "logoname">
      <p>Diabetes@Home</p>
    </div>

  
    <div class="webname">
    <h1>Diabetes@Home</h1>
    </div>
    <div class = "slogan">
      <h2>Today's care for better tomorrow</h2>
    </div>
    
    <form class="form-wrapper" action="" method="POST">
    <br>
      <div class = "loginas">
        <h3>Log in as patient</h3>
      </div>
        <br><br>
      <div class="imgcontainer">
         <img src="/page-logo.png" alt="Avatar" class="avatar">
      </div>
      <div class="container">

        <label for="uname"><b>Username</b></label><br>
        <input type="text" placeholder="Enter E-mail" name="email" required><br>
        
        <label for="psw"><b>Password</b></label><br>
        <input type="password" placeholder="Enter Password" name="password" required>

      
      <div class="action">
        {{! <input type="submit" value="Login" /> }}
        <button type="submit">Login</button>
      </div>
      <div class="About">
        <div class="website_text">
          <a href="/patient/aboutWebsite">About This Website</a>
        </div>
        <div class="diabetes_text">
          <br><a href="/patient/aboutDiabetes">About Diabetes</a>
        </div>
      </div>
  </div>

    </form>
    {{#each flash}}
      <p class="alert">{{this}}</p>
    {{/each}}

  <footer>
    <br>
    <p>Copyright 2022 by Diabetes@Home. All Rights Reserved.</p>
    <br>
  </footer>

  </body>
</html>