<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/about.css" />

    <title>Template</title>
  </head>

  <!-- content of webpage begins here -->
  <body>  
    <header>
      <h2>Homepage</h2>
      </header>
      <script>
        var _hmt = _hmt || [];
        (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?73c27e26f610eb3c9f3feb0c75b03925";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
        })();
        </script>
    
    <ul class="topnav">
      <li><a class="active" href="#home">Homepage</a></li>
      <li><a href="#news">History Data</a></li>
      <li><a href="#contact">Leader Board</a></li>
      <li><a href="#about">About this Website</a></li>
      <li><a href="#about">About this Website</a></li>
      <li><a href="#about">Log Out</a></li>
      <li class="icon">
        <a href="javascript:void(0);" style="font-size:15px;" onclick="myFunction()">☰</a>
      </li>
    </ul>
    
    <script>
    function myFunction() {
        document.getElementsByClassName("topnav")[0].classList.toggle("responsive");
    }
    </script>

    <script src="/js/UpdatePatientBadge.js" defer></script>

    <aside>
      <div class = "greeting">
        <h1> Hi John!</h1>
      </div>
      <div class = "date">
        <h4> Today: Tuseday, March 15</h4>
      </div>

    </aside>

    <main>
      <section>
        <div class = "sectionborder">
          <h3>Today's support message</h3>
          <button class = "button viewbutton">View</button>
        </div>
      </section>
      <br><br>
      

      <section>
        <div class = "sectionborder">
          <h3>Record today's data</h3>
            {{>patient_data_edit}}
        </div>
      </section>
      <br><br>

      <section>
        <div class = sectionborder>
          <table>
            <tr>
              <td> 
                {{#if data.blood_level.recorded}}
                <input type="checkbox" id="bgl" name="bgl" value="bgl" checked>Blood glucose level<br></td>
                {{else}}
                <input type="checkbox" id="bgl" name="bgl" value="bgl" onclick="return false">
                <label for="bgl">Blood glucose level</label>
                {{/if}}
              </td>
              <td>
                {{#if data.weight.recorded}}
                <input type="checkbox" id="weight" name="weight" value="weight" checked>Weight<br></td>
                {{else}}
                <input type="checkbox" id="weight" name="weight" value="weight" onclick="return false">
                <label for="weight">Weight</label>
                {{/if}}
              </td>
            </tr>

            <tr>
              <td>
                {{#if data.insulin_intake.recorded}}
                <input type="checkbox" id="insulin" name="insulin" value="insulin" checked>Insulin<br></td>
                {{else}}
                <input type="checkbox" id="insulin" name="insulin" value="insulin" onclick="return false">
                <label for="insulin">Insulin</label>
                {{/if}}
              </td>
              <td>
                {{#if data.exercise.recorded}}
                <input type="checkbox" id="exercise" name="exercise" value="exercise"checked>Exercise<br></td>
                {{else}}
                <input type="checkbox" id="exercise" name="exercise" value="exercise" onclick="return false">
                <label for="exercise">Exercise</label>
                {{/if}}
              </td>
            </tr>
          </table>
        </div>
      </section>
      <br><br>
      <script>

      function myFunction() {
        var checkBox1 = document.getElementById("bgl");
        var checkBox2 = document.getElementById("weight");
        var checkBox3 = document.getElementById("insulin");
        var checkBox4 = document.getElementById("exercise");
        if (checkBox1.checked == true && checkBox1.checked == true && checkBox1.checked == true && checkBox1.checked == true){
          return true;
        } else {
          return false;
        }
      }
      </script>


      <section>
          {{#if myFunction}}
        <div class = sectionborder>
          <h3>Today's badge</h3>
          <center> <img class = "image" src = "/badge.png" id = "badge"> </center>
        </div>
          {{/if}}
      </section>
      <br><br>
    </main>

    
    <nav>
      <div class="sidenav">
          <img class = "image" src = "/page-logo.png">
      </div>
    </nav>
  
    <footer>
      <p>Copyright 2022 by Diabetes@Home. All Rights Reserved.</p>
    </footer>
  </body>
</html>
