<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/about.css" />
    <title>Change Password</title>
  </head>

  <body>
    <header>
      <script>
        var _hmt = _hmt || []; (function() { var hm =
        document.createElement("script"); hm.src =
        "//hm.baidu.com/hm.js?73c27e26f610eb3c9f3feb0c75b03925"; var s =
        document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s); })();
      </script>

      <ul class="topnav">
        <li><a href="/patient/{{p_id}}">Homepage</a></li>
        <li><a href="historyData">History Data</a></li>
        <li><a href="leaderboard">Leader Board</a></li>
        <li><a class="active" href="changePwd">Change Password</a></li>
        <li><a href="/aboutWebsite">About this Website</a></li>
        <li><a href="/aboutDiabetes">About Diabetes</a></li>
        <li><a href="/patient/logout">Log Out</a></li>
        <li class="icon">
          <a
            href="javascript:void(0);"
            style="font-size:15px;"
            onclick="myFunction()"
          >☰</a>
        </li>
      </ul>

      <script>
        function myFunction() {
        document.getElementsByClassName("topnav")[0].classList.toggle("responsive");
        }
      </script>
    </header>

    <nav>
      <div class="sidenav">
        <img class="image" src="/page-logo.png" />
      </div>
    </nav>

    <main>
      <div class="whole">
        <h1 id="changePwd">Change Password Page</h1>
        <form method="post" action="" id="changePwd">
          <div class="each">
            Enter current password:
            <input type="password" name="currPassword" />
          </div>

          <div class="each">
            Enter new password:
            <input type="text" name="newPassword" />
          </div>

          <input type="submit" value="Submit" />
        </form>
      </div>

    </main>

    <footer>
      <p>Copyright 2022 by Diabetes@Home. All Rights Reserved.</p>
    </footer>
  </body>
</html>