<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/about.css" />
    <title>Change Password</title>
  </head>
  <body>
    <header>
      <h2> Change Password</h2>
    </header>

    <script>
      var _hmt = _hmt || []; (function() { var hm =
      document.createElement("script"); hm.src =
      "//hm.baidu.com/hm.js?73c27e26f610eb3c9f3feb0c75b03925"; var s =
      document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(hm,
      s); })();
    </script>

    <ul class="topnav">
      <li><a href="">Homepage</a></li>
      <li><a href="">History Data</a></li>
      <li><a href="">Leader Board</a></li>
      <li><a class="active" href="">Change Password</a></li>
      <li><a href="">About this Website</a></li>
      <li><a href="">About Diabetes</a></li>
      <li><a href="">Log Out</a></li>
      <li class="icon">
        <a href="javascript:void(0);" style="font-size:15px;" onclick="myFunction()">☰</a>
      </li>
    </ul>

    <script>
      function myFunction() {
      document.getElementsByClassName("topnav")[0].classList.toggle("responsive");
      }
    </script>

    <nav>
      <div class="sidenav">
        <img class = "image" src = "/page-logo.png">
      </div>
    </nav>

    <main>
      <h1>Change Password</h1>
      <form id="pwdForm" action="" method="POST">
        <div>
          <label> Current Password: </label>
          <input
            type="password"
            name="oldPwd"
            placeholder="Enter current password"
            required
          />
        </div>
        <br />

        <div>
          <label> New Password: </label>
          <input
            type="password"
            name="newPwd"
            placeholder="Enter new password"
            required
          />
        </div>
        <br />

        <div>
          <label> Confirm Password: </label>
          <input
            type="password"
            name="confirm"
            placeholder="Confirm new password"
            required
          />
        </div>
      </form>
    <br />

    <div>
      <button type="submit" form="pwdForm"> Change </button>
      <br />
      <a href="">
        <button> Back </button>
      </a>
    </div>

      <br><br>
    </main>
  </body>

    <footer>
      <p>Copyright 2022 by Diabetes@Home. All Rights Reserved.</p>
    </footer>
  </body>
</html>