* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-image: url('/DSC01899.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
form {
  border: 3px solid #cfe6bd;
  margin: 10%;
  background-color:rgb(255, 255, 255)
}
.logoname {
  color: white;
  float: left;
  position: absolute;
  left: 2%;
  top: 8%;
  font-size:5px;
  padding-left: 5px;
}
.webname {
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size:35px;
  color: rgb(70, 70, 70);
  text-align: center;
  background-color: #8fbc88;
  overflow-wrap:break-word;
}
.slogan {
  padding: 10px;
  color: rgb(70, 70, 70);
  font-style: italic;
  text-align: center;
  background-color: #cfe6bd;
}
input[type=text], input[type=password] {
  color: rgb(70, 70, 70);
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #8fbc88;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}


.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;

}

img.avatar {
  width: 20%;
  border-radius: 100%;
  height: 195px;
  width: 200px;
}

.container {
  padding: 16px;
  width: 40%;
  position: relative;
  left: 30%;
  border-radius: 30px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.About {
  width: 100%;
  text-align: center;
}
.About a {
  color:darkgray
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 375px) {

  .webname {
    font-size:19px;
    color: rgb(70, 70, 70);
  }
  .slogan {
    color: rgb(70, 70, 70);
    font-size: 10px;
    font-style: italic;
    text-align: center;
  }
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
  .container {
    padding: 16px;
    width: 75%;
    left:8%
  }
}


.alert {
  color:rgb(255, 132, 0);
  font-size: larger;
  font-weight: bold;
  background-color: rgb(255, 214, 137);
  height:30px;
  width: 100%;
  text-align: center;
}
footer {
  font-size: 15px;
  color: #818181;
  background: #e1f0db;
  text-align: center;
  position: fixed;  
  grid-area: footer;
  left: 0;
  bottom: 0;
  width: 100%;
}

