* {
  padding: 0;
  margin: 0;
}

html {
  position: relative;
}

body {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 0px;

  background-color: #cfe6bd;
}

.form-wrapper {
  position: absolute;
  width: 30%;
  height: 80vh;
  right: 10vh;
  top: 6rem;
  background: #e1f0db;
  border-radius: 53px;
}

.form-wrapper .header {
  text-align: center;
  font-size: 3em;
  line-height: 300%;
}

.form-wrapper .input-wrapper input {
  font-family: "Roboto";
  font-weight: 500;

  background-color: white;
  border: 0;

  text-align: center;
  font-size: 15px;
  color: #00000080;
  outline: none;
}

.form-wrapper .input-wrapper .border-wrapper {
  /* align-items: flex-start; */
  background: white;
  width: 80%;
  height: 50px;
  margin-left: 10%;
  margin-bottom: 8%;
  border-radius: 30px;
  display: flex;
  /*align-items: center;*/
  justify-content: center;
}

.form-wrapper .input-wrapper .border-wrapper .border-item {
  height: calc(100% - 4px);
  width: calc(100% - 4px);
  border-radius: 30px;
}
.form-wrapper .action {
  display: flex;
  justify-content: center;
}
.form-wrapper .action .btn {
  width: 50%;
  border: 2px solid #8fbc88;
  background: #8fbc88;
  line-height: 50px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.2s;
  text-align: center;
  color: #00000080;
}

.form-wrapper .action .btn:hover {
  background-color: #92c7a8;
}

.About {
  display: flex;
  margin-inline: 5%;
  position: absolute;
  top: 39rem;
  text-decoration: none;
}

.About a {
  text-decoration: none;
  color: black;
  display: block;
}

.About .website_text {
  width: 20vw;
  height: 25%;

  border: 2px solid #8fbc88;
  background: #8fbc88;

  line-height: 3.125rem;
  border-radius: 1.875rem;
  cursor: pointer;
  transition: 0.2s;
  text-align: center;

  color: black;
  font-size: 100%;
}

.About .website_text:hover {
  background-color: #92c7a8;
}

.About .diabetes_text {
  width: 18vw;
  height: 25%;
  margin-left: 10rem;
  border: 2px solid #8fbc88;
  background: #8fbc88;

  line-height: 3.125rem;
  border-radius: 1.875rem;
  cursor: pointer;
  transition: 0.2s;
  text-align: center;

  color: black;
  font-size: 100%;
}

.About .diabetes_text:hover {
  background-color: #92c7a8;
}

@media screen and (max-width: 960px) {
  /* page layout for phones */
  .logo .HouseIcon {
    display: None;
  }

  .logo .CompanyName {
    font-size: 30px !important;
    left: 30% !important;
    top: 1.5rem !important;
  }

  .logo .Message {
    display: None;
  }

  .form-wrapper {
    background-color: #cfe6bd;
    width: 35%;
    left: 30%;
  }

  .About {
    margin-left: 10%;
  }

  .btn {
    font-size: 85%;
  }
}
