body > * {  /* this is just shading to show the different regions */
    font-family: "Roboto", sans-serif;
}

body { /* page layout - desktop version */
    display: grid;
    grid-template-columns: 5fr 20fr 10fr;
    grid-template-rows: auto auto;
    grid-gap:0;
    margin:0;

    grid-template-areas: 
        "header header header"
        "nav main aside"
        "footer footer footer";
    }

body { /* page layout - desktop version */
    display: grid;
    grid-template-columns: 5fr 20fr 10fr;
    grid-template-rows: auto auto;
    grid-gap:0;
    margin:0;

    grid-template-areas: 
        "header header header"
        "nav main aside"
        "footer footer footer";
    }

/* assign regions of the page to the grid */
header {grid-area: header;}
aside {grid-area: aside;}
main {grid-area: main;}
nav {grid-area: nav;}
footer{grid-area: footer;}


.clinician_header{
    height:50px;
    background-color:  #E1F0DB;
    text-align: center;
    width: 100%;
}

.clisidenav{
    background-color: #CFE6BD;
    display: block;
    float:left;
    height: 1000px; /*Mannually drag background color to the bottom*/
}
.clisidenav img {
    width: 80%; 
    margin-left: 20px;
}

.clisidenav a:hover {
    background: white;
  }
.clisidenav a {
    padding: 20px 20px 20px 20px;
    font-size: 20px;
    text-decoration: none;
    color: #818181;
    display: block;
  }

 
.active{
    background-color: white;
}
li {
    position: flex;
    width: 15%;
    left: 5%;
  
    font-style: normal;
    text-align: center;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.5);
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 75px 0px;
}
/*
header{
    position: absolute;
    width: 120%;
    height: 8%;
    left: 0%;
    top: 0%;
    background: #e1f0db;

}*/

.cli_greeting{
    
    position: absolute;
    width: 65%;
    left: 18%;
    top: 8%;
    display:flex;
    flex-direction: column;

}
h1{
    font-size:4em;
    position: static;
    font-style: normal;
    color: rgba(0, 0, 0, 0.7);
    text-align: left;
    line-height: 10%;
}

h2{
    position: static;
    font-style: normal;
    font-size: 2em;
    color: rgba(0, 0, 0, 0.6);
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 28px 0px;
    line-height: 5%;
}

.clinotes_table table{
    position: absolute;
    table-layout:auto;
    width: 80%;
    height: 60%;
    left: 18%;
    top: 28%;
    background-color:#E1F0DB;
    border-top: 20em;
    border-right: 20em;
    border-bottom: 20em;
    border-left: 20em;
    border-color: white;
    border-spacing: white 10px;
    border-collapse:collapse;
    border-radius:5rem;
}

.clinotes_table th, tr, td{
    border:  3px solid white;
    text-align: center;
    color:rgba(0, 0, 0, 0.7)
}
.menu{
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
    height: 80%;
    top:5%;
    width: 25%;
    left:70%;
    column-gap: 4em;
}


.menu .elem{
    border-width: 0;
    border-radius: 15vh;
    background-color: #8fbc88;
    width: 100px;
}
.menu .elem a {
    text-decoration: none; 
    color: black;
}
.menu .elem:hover {
    background-color: rgb(157, 196, 157);
}
