<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>History Data</title>
    <link rel="stylesheet" href="historyData.css" />
  </head>
  

  <!-- content of webpage begins here -->
  <body>
    <header>
      <h2>History Data</h2>
    </header>

    <aside>
      <div class = "greeting">
        <h1>Hi John!</h1>
      </div>
      <div class = "date">
        <h4>Today: Tuseday, March 15</h4>
      </div>
    </aside>

    <main>
      <table>
        <tr>
          <td>Date</td>
          <td>Blood glucose level(mmol/L)</td>
          <td>Weight(kg)</td>
          <td>Doses of insulin intake(doses)</td>
          <td>Exercise Step Count(step count)</td>
        </tr>
   
      <div class="historyData">    
        <tr>
          <td>15/03/22</td>
          <td>6.7</td>
          <td>65</td>
          <td>2</td>
          <td>12000</td>
        </tr>
        <tr>
          <td>14/03/22</td>
          <td>6.7</td>
          <td>65</td>
          <td>2</td>
          <td>12000</td>
        </tr>
        <tr>
          <td>13/03/22</td>
          <td>6.7</td>
          <td>65</td>
          <td>2</td>
          <td>12000</td>
        </tr>
        <tr>
          <td>12/03/22</td>
          <td>6.7</td>
          <td>65</td>
          <td>2</td>
          <td>12000</td>
        </tr>
        <tr>
          <td>11/03/22</td>
          <td>6.7</td>
          <td>65</td>
          <td>2</td>
          <td>12000</td>
        </tr>
        <tr>
          <td>10/03/22</td>
          <td>6.7</td>
          <td>65</td>
          <td>2</td>
          <td>12000</td>
        </tr>
        <tr>
          <td>09/03/22</td>
          <td>6.7</td>
          <td>65</td>
          <td>2</td>
          <td>12000</td>
        </tr>
        <tr>
          <td>08/03/22</td>
          <td>6.7</td>
          <td>65</td>
          <td>2</td>
          <td>12000</td>
        </tr>
        <tr>
          <td>07/03/22</td>
          <td>6.7</td>
          <td>65</td>
          <td>2</td>
          <td>12000</td>
        </tr>
        <tr>
          <td>06/03/22</td>
          <td>6.7</td>
          <td>65</td>
          <td>2</td>
          <td>12000</td>
        </tr>
        <tr>
          <td>05/03/22</td>
          <td>6.7</td>
          <td>65</td>
          <td>2</td>
          <td>12000</td>
        </tr>
        <tr>
          <td>04/03/22</td>
          <td>6.7</td>
          <td>65</td>
          <td>2</td>
          <td>12000</td>
        </tr>
        <tr>
          <td>03/03/22</td>
          <td>6.7</td>
          <td>65</td>
          <td>2</td>
          <td>12000</td>
        </tr>
        <tr>
          <td>02/03/22</td>
          <td>6.7</td>
          <td>65</td>
          <td>2</td>
          <td>12000</td>
        </tr>
      </table>
      <br/><br/>
    </main>

    
    <nav>
      <div class="sidenav">
        <p>
          <a href="#Homepage">Homepage</a>
        </p>
        <p>
          <a href="#History data">History data</a>
        </p>
        <p>
          <a href="#Leader board">Leader board</a>
        </p>
      </div>
    </nav>

    <footer>
        <a href="#">About this website</a>
        <a href="#">About diabetes</a>
        <a href="#">Log out</a>
    </footer>
  </body>
</html>
