* {
    padding: 0;
    margin: 0;
    /*border: solid 1px red;*/
  }
  
  html {
    height: 100%;
  }
  
  body {
    /*
    height: 100%;
    font-family: 'JetBrains Mono Medium';
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #CFE6BD;
    */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: relative;
    width: 1920px;
    height: 1080px;
    background-color: #CFE6BD;
    
    /*
    grid-template-columns: 1fr 2fr 0.5fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-gap: 1rem;

    grid-template-areas: 
        "header header header"
        "aside main nav"
        "footer footer footer";
    */
    
  }



  .form-wrapper {
    
    position: absolute;
    width: 30%;
    height: 40%;
    left: 60%;
    top: 26%;
    background: #E1F0DB;
    border-radius: 53px;
    
    /*
    width: 300px;
    background-color: rgb(255, 255, 255);
    color: #fff;
    border-radius: 2px;
    padding: 50px;
    */
    }

.logo {  
    vertical-align: middle;
    text-align: left;
    height: 100rem;
    width: 250rem;
}    
  
  .form-wrapper .header {
    text-align: center;
    font-size: 3em;
    text-transform: uppercase;
    line-height: 300%;
  }
  
  .form-wrapper .input-wrapper input {
    /* Enter your username 
    position: absolute;
    width: 334px;
    height: 42px;
    left: 1367px;
    top: 368px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;

    color: rgba(0, 0, 0, 0.5);*/
    font-family: 'Roboto';
    font-weight: 500;
    /*top: 40%;*/
    background-color: white;
    border: 0;
    /*width: 80%;
    height: 80%;*/
    text-align: center;
    font-size: 15px;
    color: #00000080;
    outline: none;
    
  }
  .form-wrapper .input-wrapper input::placeholder {
    text-transform: uppercase;
  }
  
  .form-wrapper .input-wrapper .border-wrapper {
    align-items: flex-start;
    background: white;
    width: 100%;
    height: 50px;
    margin-bottom: 8%;
    border-radius: 30px;
    display: flex;
    /*align-items: center;*/
    justify-content: center;
  }
  
  .form-wrapper .input-wrapper .border-wrapper .border-item {
    height: calc(100% - 4px);
    width: calc(100% - 4px);
    border-radius: 30px;
  }
  .form-wrapper .action {
    display: flex;
    justify-content: center;
  }
  .form-wrapper .action .btn {
/*    
    position: absolute;
    left: 67.4%;
    right: 7.4%;
    top: 61.2%;
    bottom: 30.09%;
    background: #8FBC88;
    border-radius: 50px;
*/    

    width: 60%;
    
    border: 2px solid #8FBC88;
    background: #8FBC88;
    
    line-height: 50px;
    border-radius: 30px;
    text-transform: uppercase;
    cursor: pointer;
    transition: .2s;
    text-align: center;
    color: #00000080;

  }
  
  .form-wrapper .action .btn:hover{
    background-color:#92c7a8;

  }
  
  
  .About {
    display: flex;
    /*justify-content: space-between;*/
    margin-inline: 15%;
    position: absolute;
    bottom: 6%;
    width: 30%;
  }

  .About .website_text{ 
    width: 120%;

    border: 2px solid #8FBC88;
    background: #8FBC88;
    
    line-height: 50px;
    border-radius: 30px;
    text-transform: uppercase;
    cursor: pointer;
    transition: .2s;
    text-align: center;
    color: #00000080;
  }

  .About .website_text:hover {
    background-color:#92c7a8;
  }

/*
  .about_diabetes {
    display: inline-block;
    float:right;
  }
*/
  .About .diabetes_text{
    width: 120%;
    margin-left: 20%;
    border: 2px solid #8FBC88;
    background: #8FBC88;
    
    line-height: 50px;
    border-radius: 30px;
    text-transform: uppercase;
    cursor: pointer;
    transition: .2s;
    text-align: center;
    color: #00000080;
  }

  .About .diabetes_text:hover {
    background-color:#92c7a8;
  }
/*
    <div class="icon-wrapper">
      <i class="iconfont phs-weixin"></i>
      <i class="iconfont phs-weibo"></i>
      <i class="iconfont phs-github"></i>
    </div>


  .form-wrapper .icon-wrapper {
    text-align: center;
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;
    border-top: 1px dashed rgb(146, 146, 146);
    padding: 20px;
  }
  
  .form-wrapper .icon-wrapper i {
    font-size: 20px;
    color: rgb(187, 187, 187);
    cursor: pointer;
    border: 1px solid #fff;
    padding: 5px;
    border-radius: 20px;
  }

*/  