* {
    padding: 0;
    margin: 0;
    /*border: solid 1px red;*/
  }
  
  html {
    /*height: 100%;
    width: 1920px;
    height: 1080px;
    */
    position: relative;
  }
  
  body {
    /*
    height: 100%;
    font-family: 'JetBrains Mono Medium';
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #CFE6BD;
    */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 0px;

    background-color: #CFE6BD;
    
    /*
    grid-template-columns: 1fr 2fr 0.5fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-gap: 1rem;

    grid-template-areas: 
        "header header header"
        "aside main nav"
        "footer footer footer";
    */
    
  }

/*  
  .logo .HouseIcon {
    position: absolute;
    width: 28rem;
    height: 18rem;
    left: 12%;
    top: 2rem;
    max-width: 40%;
  }

  .logo .CompanyName {
    width: 40%;
    height: auto;
    left: 9%;
    top: 20rem;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 4em;
   
    text-align: center;
    
    color: rgba(0, 0, 0, 0.73);
  }

  .logo .Message {
    position: absolute;
    width: 60%;
    left: 9%;
    top: 30rem;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 2.5em;
    color: rgba(0, 0, 0, 0.46);
  }
*/
  .form-wrapper {
    
    position: absolute;
    width: 30%;
    height: 80vh;
    right: 10vh;
    top: 6rem;
    background: #E1F0DB;
    border-radius: 53px;
    
    }

  
  
  .form-wrapper .header {
    text-align: center;
    font-size: 3em;
    text-transform: uppercase;
    line-height: 300%;
  }
  
  .form-wrapper .input-wrapper input {
    /* Enter your username */
    font-family: 'Roboto';
    font-weight: 500;
    /*top: 40%;*/
    background-color: white;
    border: 0;
    /*width: 80%;
    height: 80%;*/
    text-align: center;
    font-size: 15px;
    color: #00000080;
    outline: none;
    
  }
  .form-wrapper .input-wrapper input::placeholder {
    text-transform: uppercase;
  }
  
  .form-wrapper .input-wrapper .border-wrapper {
    align-items: flex-start;
    background: white;
    width: 100%;
    height: 50px;
    margin-bottom: 8%;
    border-radius: 30px;
    display: flex;
    /*align-items: center;*/
    justify-content: center;
  }
  
  .form-wrapper .input-wrapper .border-wrapper .border-item {
    height: calc(100% - 4px);
    width: calc(100% - 4px);
    border-radius: 30px;
  }
  .form-wrapper .action {
    display: flex;
    justify-content: center;
  }
  .form-wrapper .action .btn {  
    width: 60%;
    border: 2px solid #8FBC88;
    background: #8FBC88;
    
    line-height: 50px;
    border-radius: 30px;
    text-transform: uppercase;
    cursor: pointer;
    transition: .2s;
    text-align: center;
    color: #00000080;

  }
  
  .form-wrapper .action .btn:hover{
    background-color:#92c7a8;

  }
  
  
  .About {
    display: flex;
    /*justify-content: space-between;*/
    margin-inline: 5%;
    position: absolute;
    top: 39rem;
    /*width: 40%;*/
  }

  .About .website_text{ 
    width: 20vw;
    height: 25%;

    border: 2px solid #8FBC88;
    background: #8FBC88;
    
    line-height: 3.125rem;
    border-radius: 1.875rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: .2s;
    text-align: center;
    color: #00000080;
  }

  .About .website_text:hover {
    background-color:#92c7a8;
  }


  .About .diabetes_text{
    width: 20vw;
    height: 25%;
    margin-left: 10rem;
    border: 2px solid #8FBC88;
    background: #8FBC88;
    
    line-height: 3.125rem;
    border-radius: 1.875rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: .2s;
    text-align: center;
    color: #00000080;
  }

  .About .diabetes_text:hover {
    background-color:#92c7a8;
  }

  @media screen and (max-width: 960px) {  /* page layout for phones */
    .logo .HouseIcon{
        display: None;
    }

    .logo .CompanyName {
      font-size: 30px !important;
      left: 30% !important;
      top: 1.5rem !important;
    }

    .logo .Message {
      display: None;
    }

    .form-wrapper {
      background-color: #CFE6BD;
      width: 35%;
      left: 30%;
    }

    .About {
      margin-left: 10%;
    }
    /*
    .About .website_text {
      left: 30%;
    }

    .About .diabetes_text {
      right: 50%;
    }
    */


  /*
    <div class="icon-wrapper">
      <i class="iconfont phs-weixin"></i>
      <i class="iconfont phs-weibo"></i>
      <i class="iconfont phs-github"></i>
    </div>


  .form-wrapper .icon-wrapper {
    text-align: center;
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;
    border-top: 1px dashed rgb(146, 146, 146);
    padding: 20px;
  }
  
  .form-wrapper .icon-wrapper i {
    font-size: 20px;
    color: rgb(187, 187, 187);
    cursor: pointer;
    border: 1px solid #fff;
    padding: 5px;
    border-radius: 20px;
  }

*/  